doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    h1 Choose one of these people from my family to learn a bit more about them!
    a(href='/thales')
        |Thales
        br
    a(href='/monika')
        |Monika
        br
    a(href='/leandro')
        |Leandro
        br
    a(href='/joao')
        |Joao
        br
    a(href='/duda')
        |Duda
        br
    a(href='/cristiano')
        |Cristiano
        br
    block content